$mainFontFamily: "Roboto", "Arial";

$primaryColor: #313741;
$secondaryColor: rgb(255, 217, 62);
$lightColor: #fff;

$grayBackgroundColor: #f4f9ff;

$blackTextColor: rgb(31, 30, 28);
$grayTextColor: #1d2127;
$lightGrayTextColor: rgb(119, 119, 119);

$darkButtonColor: $primaryColor;
$lightButtonColor: $secondaryColor;